<h3> LOGIN </h3>

<form action="/login" method="post">
  username:<br>
  <input type="text" name="client[username]" value="Rodrigo">
  <br>
  password:<br>
  <input type="text" name="client[password]" value="senha1234"> 
  <br><br>
  <input type="submit" value="Submit">
</form>
